<h1>Sign up, Survivor!<h1>

<% if @survivor.errors.any? %>
  <div id="error_explanation">
    <h2 style="color:red">
      <%= pluralize(@survivor.errors.count, "error") %>
      prohibited this survivor from being saved:
    </h2>
 
    <ul>
    <% @survivor.errors.full_messages.each do |msg| %>
      <li style="color:red"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @survivor do |f| %>
    <%= f.label "Name: " %><br>
    <%= f.text_field :name %><br>
    <%= f.label "Username: " %><br>
    <%= f.text_field :username %><br>
    <%= f.label "Grain: " %><br>
    <%= f.text_field :grain %><br>
    <%= f.label "Password: " %><br>
    <%= f.password_field :password %><br>
    <%= f.label "Image: " %><br>
    <%= f.text_field :image_url %><br>
    <%= f.submit %>
    
<% end %>